{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %} Pocetna {% endblock %}</title>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
	  
		<title>Dashboard - NiceAdmin Bootstrap Template</title>
		<meta content="" name="description">
		<meta content="" name="keywords">
	  
		<link href="{% static 'lims/img/favicon.png' %}" rel="icon">
		<link href="{% static 'lims/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
	  
		<!-- Google Fonts -->
		<link href="https://fonts.gstatic.com" rel="preconnect">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	  
		<!-- Vendor CSS Files -->
		<link href="{% static 'lims/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'lims/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
		<link href="{% static 'lims/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
		<link href="{% static 'lims/vendor/quill/quill.snow.css' %}" rel="stylesheet">
		<link href="{% static 'lims/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
		<link href="{% static 'lims/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
		<link href="{% static 'lims/vendor/simple-datatables/style.css' %}" rel="stylesheet">
	  
		<!-- Template Main CSS File -->
		<link href="{% static 'lims/css/style.css' %}" rel="stylesheet">
	  
		<!-- =======================================================
		* Template Name: NiceAdmin
		* Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
		* Updated: Apr 7 2024 with Bootstrap v5.3.3
		* Author: BootstrapMade.com
		* License: https://bootstrapmade.com/license/
		======================================================== -->

	</head>
<main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
  
                  <span class="d-none d-lg-block">IMS LIMS</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Ulogujte se na Vaš profil</h5>
                    <p class="text-center small">Unesite username & password da bi ste se ulogovali</p>
                  </div>

                    <form method="post" action="{% url 'login_route' %}" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="col-12">
                            <label for="yourUsername" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" name="username" class="form-control" id="yourUsername" required value="{{ form.username.value|default_if_none:'' }}">
                                {% if form.username.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            Unesite Vaš username.
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    
                        <div class="col-12">
                            <label for="yourPassword" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="yourPassword" required value="{{ form.password.value|default_if_none:'' }}">
                            {% if form.password.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                      Unesite Vaš password!
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Login</button>
                        </div>
                    </form>

                </div>
              </div>

              <div class="credits">

              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
