{% extends 'base.html' %}
{% block title %} Obuke {% endblock %}
{% block content %}
<div class="pagetitle">
  <h1>{{ title }}</h1>
</div>
  <section class="section">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">Tabela</h5>
                <a href="{% url 'authorization_create' %}" class="text-success" style="font-size: 1.05em;">
                  <i class="bi bi-journal-plus" ></i> Dodaj nova ovlašćenja
                </a>
              </div>         
              <table id="DataTableAuthorization" class="display list">
                <thead>
                  <tr>
                    <th>Osoblje</th>
                    <th>Ovlašćenje</th>
                    <th>Metoda</th>
                    <th>Datum dodele</th>
                    <th>AKCIJE</th>
                  </tr>
                </thead>
                <tbody>
                  {% for authorization in authorizations %}
                    <tr>
                        <td>{{ authorization.staff }}</td>
                        <td>{{ authorization.authorization_type }}</td>                          
                        <td>{{ authorization.method }}</td>
                        <td>{{ authorization.date|date:"d.m.Y" }}</td>
                        <td style="width: 20px;">
                          <div class="d-flex align-items-center"> <!-- Flex row for horizontal alignment -->
                              <!-- Edit Button -->
                              <a href="{% url 'authorization_update' authorization.pk %}" class="text-success me-2"> <!-- Add margin-end for spacing -->
                                  <i class="ri-edit-2-line"></i>
                              </a>
                          
                              <!-- Delete Form -->
                              <form action="{% url 'authorization_delete' authorization.pk %}?next={{ request.path }}" method="post" style="display:inline;">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-link text-danger p-0 m-0" onclick="return confirm('Da li ste sigurni da želite da uklonite ovu ovo OVLAŠĆENJE?');">
                                      <i class="ri-delete-bin-2-line"></i>
                                  </button>
                              </form>
                          </div>
                      </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">Nema unetih obuka</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
