{% load static %}
<!DOCTYPE html>
<html lang="sr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Prijava{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{% static 'lims/img/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Nunito:300,400,600,700|Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'lims/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lims/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'lims/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lims/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'lims/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'lims/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'lims/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Main CSS -->
  <link href="{% static 'lims/css/style.css' %}" rel="stylesheet">
</head>
<body class="bg-light">

  {% block content %}
  {% endblock %}

  <script src="{% static 'lims/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
