<!-- equipment_form.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Forma{% endblock %}
{% block content %}
  <div class="pagetitle">
    <h1>{{ title }}</h1>
    {% comment %} 
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Elements</li>
      </ol>
    </nav>
  </div><!-- End Page Title --> 
  {% endcomment %}

    <div class="row gtr-200">
        <div class="row mb-3">

      </div>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-8">
    
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Popuniti formu</h5>
              
              <!-- Horizontal Form -->
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="row mb-3">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}:</label>
                    <div class="col-sm-8">
                        {{ field|add_class:'form-control' }}
                        {% if field.errors %}
                        <div class="invalid-feedback" style="display: block;">
                          {% for error in field.errors %}
                              {{ error }}
                          {% endfor %}
                      </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">{{ submit_button_label }}</button>
                </div>
              </form>
              <!-- End Horizontal Form -->
    
            </div>
          </div>
    
        </div>
        {% if manual %}
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Dodatne Informacije</h5>
              <p>{{ manual }}</p>
            </div>
          </div>
        </div>
        {%else%}
        {%endif%}
      </div>
    </section>

{% endblock %}

